@font-face {
  font-family: "montserrat";
  src: url(assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "lato";
  src: url(assets/fonts/lato/Lato-Regular.ttf)
}

main {
  background-color: whitesmoke;
  box-shadow: 0 0 1px 0 darkgrey;
}

article:nth-child(2) {
  border-bottom: 0.1px solid #c3cfe2;
  
}

article {
  padding: 2rem 0;
}

h1 {
  padding: 0 2rem;
  font-size: 4rem;
  font-family: "montserrat", sans-serif;
}

h2 {
  padding: 0rem 2rem 0 2rem;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
}

p {
  padding: 0 2rem;
  max-width: 70ch;
  line-height: 1.5;
}

footer > p {
  padding: 2rem 2rem;
}



/******    SCREEN < 600px   ******/
@media only screen and (max-width: 600px) {
  body {
    margin: auto;
    width: 95vw;
    left: 50%;
    top: 50%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 1.2rem;
    font-family: "lato", sans-serif;
    width: 95vw;
  }

  header {
    height: 55vh;
    padding-top: 2rem;
    text-align: center;
    background-image: url(assets/img/studentsbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: -2.5vh -2.5vw 2rem -2.5vw;
    background-position: absolute;
  }


  header > div {
    width: 95vw;
    position: relative;
    top: 4rem;
    color: white;
    background-color: #c5192d;
    margin-left: auto; margin-right: auto;
    justify-content: center;
  }
}

  header h1 {
    text-align: center;
    padding: 2rem 2rem 0 2rem;
  }


  #intro-container {
    background-color: #c5192d;
    margin-top: auto; margin-left: auto; margin-right: auto;
  }

  ul {
    padding-inline-start: 0;
    padding: 0 2rem 2rem 2rem;
    max-width: fit-content;
  }

  ul > li {
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
  }
    
  ul > li:first-child::before {
    width: 1rem;
    margin: 1rem;
    content: "\1F64C";
  }

  ul > li:nth-child(2)::before {
    width: 1rem;
    margin: 1rem;
    content: "\1F3EB";
  }
    
  li:nth-child(3)::before {
    width: 1rem;
    margin: 1rem;
    content: "\1F4DA";
  }


  img {
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
  }

  footer {
    color: white;
    text-align: center; 
    background-color: #c5192d;
    align-content: center;
  }

/******    SCREEN 600px - 960px ******/
@media screen and (max-width:960px) and (min-width:600px) {
  body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 16px;
    font-family: "lato", sans-serif;
  }

  main{
    width: 85vw;
    margin: auto;
  }

  header {
    height: 65vh;
    padding: 2rem;
    text-align: center;
    background-image: url(assets/img/studentsbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    padding-inline-start: 0;
    background-position: center top;
  }

  header > div {
    width: 95vw;
    position: absolute;
    top: 4rem;
    left: 2.5vw;
    right: 2.5vw;
    background-color: #c5192d;
    color: white;
    text-align: center; 
    width: 85vw;
    margin: auto;
  }

  

  #intro-container {
    padding: 0 2rem 2rem 2rem;
    margin: 0.5rem;
    columns: 2;
    background-image: conic-gradient(whitesmoke 0deg 180deg, #c5192d 180deg 360deg);

  }

  ul {
    padding-inline-start: 0;
    padding: 10%;
  }

  ul > li {
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
  }
    
  ul > li:first-child::before {
    width: 1rem;
    margin: 1rem;
    content: "\1F64C";
  }

  ul > li:nth-child(2)::before {
    width: 1rem;
    margin: 1rem;
    content: "\1F3EB";
  }
    
  li:nth-child(3)::before {
    width: 1rem;
    margin: 1rem;
    content: "\1F4DA";
  }


  img {
    padding: 0 2rem;
    box-sizing: border-box;
  }

  article:nth-child(2){
    display: inline-block;
 
  }

  article:nth-child(2) > div{
    float: left;
    width: 45%;
 
  }

  article:nth-child(2) > img{
    width: 45%;
    float: right;
  
  }

  article:nth-child(3){
    display: inline-block;
  }

  article:nth-child(3) > div{
    float: right;
    width: 45%;
  }

  article:nth-child(3) > img{
    width: 45%;
    float: left;
  
  }

  article:nth-child(4){
    display: inline-block;
  }

  article:nth-child(4) > div{
    float: left;
    width: 45%;
  }

  article:nth-child(4) > img{
    width: 45%;
    float: right;
  
  }

  footer {
    color: white;
    text-align: center; 
    background-color: #c5192d;
    align-content: center;
    width: 85vw;
    margin: auto;
  }
}


/******    SCREEN > 960px     ******/
@media screen and (min-width: 960px) {
  body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 24px;
    font-family: "lato", sans-serif;
  }

  main{
    width: 70vw;
    margin: auto;
  }

  header {
    height: 65vh;
    padding: 2rem;
    text-align: center;
    background-image: url(assets/img/studentsbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-inline-start: 0;
    background-position: center top;
    margin: -2.5vh -2.5vw auto -2.5vw;
  }

  header > div {
    width: 95vw;
    position: absolute;
    top: 4rem;
    left: 2.5vw;
    right: 2.5vw;
    background-color: #c5192d;
    color: white;
    text-align: center; 
    width: 70vw;
    margin: auto;
  }

  

  #intro-container {
    padding: 2rem 1rem 0rem 1rem;
    margin: 0.5rem;
    columns: 2;
    background-image: conic-gradient(whitesmoke 0deg 180deg, #c5192d 180deg 360deg);
  }

  ul {
    padding-inline-start: 0;
    padding: 10%;
    display: inline-block;
  }

  ul > li {
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
  }
    
  ul > li:first-child::before {
    width: 1rem;
    margin: 1rem;
    content: "\1F64C";
  }

  ul > li:nth-child(2)::before {
    width: 1rem;
    margin: 1rem;
    content: "\1F3EB";
  }
    
  li:nth-child(3)::before {
    width: 1rem;
    margin: 1rem;
    content: "\1F4DA";
  }


  img {
    padding: 0 2rem;
    box-sizing: border-box;
  }

  article:nth-child(2){
    display: inline-block;
 
  }

  article:nth-child(2) > div{
    float: left;
    width: 45%;
 
  }

  article:nth-child(2) > img{
    width: 45%;
    float: right;
  
  }

  article:nth-child(3){
    display: inline-block;
  }

  article:nth-child(3) > div{
    float: right;
    width: 45%;
  }

  article:nth-child(3) > img{
    width: 45%;
    float: left;
  
  }

  article:nth-child(4){
    display: inline-block;
  }

  article:nth-child(4) > div{
    float: left;
    width: 45%;
  }

  article:nth-child(4) > img{
    width: 45%;
    float: right;
  
  }

  footer {
    color: white;
    text-align: center; 
    background-color: #c5192d;
    align-content: center;
    width: 70vw;
    margin: auto;
  }
}
